body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #6a5acd;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 24px;
}

.container {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.form-container, .teacher-list {
    background: white;
    padding: 20px;
    border-radius: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: auto;
}

h2 {
    text-align: center;
}

form label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #6a5acd;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

button:hover {
    background-color: #6a5acd;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #6a5acd;
    color: white;
}

.action-btn {
    padding: 5px 10px;
    margin: 2px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.edit-btn {
    background-color: orange;
    color: white;
}

.delete-btn {
    background-color: rgb(46, 16, 127);
    color: white;
}
